
<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="booking-cta">
            <h1>Search your flight</h1>
            <p>Search flights by the date and the flight number or the airports.</p>
          </div>
        </div>
        <div class="col-md-7 col-md-offset-1">
          <div class="booking-form">
            <form #f="ngForm" (ngSubmit)="searchFlight(f)" novalidate>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <span class="form-label">Flying from</span>
                    <input class="form-control" name="from" ngModel type="text" pattern="[A-Za-z]{3}" maxlength="3" placeholder="Airport Codes" (change)="orgOnChange()">
                    <p *ngIf="orgError" class="error">{{orgError}}</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <span class="form-label">Flyning to</span>
                    <input class="form-control" name="to" ngModel type="text" pattern="[A-Za-z]{3}" maxlength="3"  placeholder="Airport Codes" (change)="dstOnChange()">
                    <p *ngIf="dstError" class="error">{{dstError}}</p>
                  </div>
                </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <h4 style="color: #4fa3e3; padding-bottom: 10pt">and/or</h4>
                  </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <span class="form-label">Flight no.</span>
                    <input class="form-control" name="flight" ngModel type="text" pattern="\d*" maxlength="4" placeholder="Flight no.">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <span class="form-label">Departing</span>
                    <input class="form-control" name="date" ngModel type="date" (change)="dateOnChange()" required>
                    <p *ngIf="dateError" class="error">{{dateError}}</p>
                  </div>
                </div>
              </div>
              <div class="row">

              </div>
              <div class="form-btn">
                <button class="submit-btn">Search flights</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
