<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="booking-cta">
            <h1>Search your flight</h1>
            <p>Search flights by the date and the flight number or the airports.</p>
          </div>
        </div>
        <div class="col-md-7 col-md-offset-1">
          <div class="booking-form">
            <form>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <span class="form-label">Flying from</span>
                    <input class="form-control" type="text" placeholder="City or airport">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <span class="form-label">Flyning to</span>
                    <input class="form-control" type="text" placeholder="City or airport">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <span class="form-label">Departing</span>
                    <input class="form-control" type="date" >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <span class="form-label">Returning</span>
                    <input class="form-control" type="date" >
                  </div>
                </div>
              </div>
              <div class="row">

              </div>
              <div class="form-btn">
                <button class="submit-btn" (click) ="searchFLight()">Search flights</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
